<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ meta_description }}" />
        <link rel="stylesheet" type="text/css" href="assets/css/app.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
        />
    </head>
    <body>
        {% include "_html/_base/_includes/_nav-bar.html" %} {% include
        "_html/_base/_includes/_banner.html" %} {% block content %} {% endblock
        %} {% include "_html/_base/_includes/_footer.html" %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
        ></script>

        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <script src="assets/js/app.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
    </body>
</html>
