// header
$menu-h: 70px;
$menu-pt: 20px;
 
 
//colors
$text_color_primary: #ffffff;
$text_color_secondary: #af8f58;
$bg_color_primary: #171511;
$line-color: #C4C4C4;

//fonts
$main-font: "Montserrat", sans-serif;
$secondary-font: "PT Sans", sans-serif;
