{% set title = "Home page" %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}
<main class="site container-fluid">
    <section class="container-fluid first-block site">
        <div class="row">
            <div class="col-4">
                <div class="logo">
                    <p>PHOTO</p>
                    <p>STUDIO</p>
                </div>
                <div class="simple-text-color">Сучасний погляд на</div>
                <div class="simple-text-color">фотографії</div>
            </div>
            <div class="col-8 simple-text line">
                <p>
                    Затишна фотостудія і креативний простір, де ви зможете
                    влаштувати фотозйомку у різних стилях. У цьому вам допоможе
                    професійне обладнання та різноманітні дизайнерські фотозони.
                    І це все за дуже приємною ціною. Ми цінуємо наших клієнтів,
                    і будемо раді надати вам максимально комфортні умови для
                    роботи.
                </p>
            </div>
        </div>
    </section>

    <section class="proposals container-fluid site">
        <div class="row">
            <div class="col-6 first-foto info">
                <div class="logo">
                    <p>PHOTO</p>
                    <p>STUDIO</p>
                </div>
                <p>Створення професійних фотографій і втілення ідей.</p>
                <a href="#" class="btn">Детальніше</a>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 second-foto"></div>
                    <div class="col-6">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Весільна фотозйомка</p>
                            <p>
                                Фотозйомка - повний весільний день
                                <br />Технічна корекція всіх фото <br />Ретуш
                                всіх найкращих фотографій <br />Післявесільна
                                зйомка в окремий день
                            </p>
                        </div>
                        <a href="#" class="btn btn-fi">Детальніше</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 third-foto info-c">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Рекламна фотозйомка</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6 fourth-foto info-t">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Архітектурна фотозйомка</p>
                        </div>
                    </div>
                    <div class="col-6 fifth-foto info-b">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Зйомка портфоліо</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6 six-foto"></div>
                    <div class="col-6">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Дитяча фотозйомка</p>
                            <p>
                                2 години зйомки в будь-якій локації
                                <br />Технічна корекція всіх фото <br />60 - 80
                                фото <br />20 знімків з професійною ретушшю
                            </p>
                        </div>
                        <a href="#" class="btn btn-fi">Детальніше</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="foto-info">
                            <p>Professional photo</p>
                            <p>Сімейна фотозйомка</p>
                            <p>
                                2 години зйомки в будь-якій локації
                                <br />Технічна корекція всіх фото <br />60 - 80
                                фото <br />20 знімків з професійною ретушшю
                            </p>
                        </div>
                        <a href="#" class="btn btn-fi">Детальніше</a>
                    </div>
                    <div class="col-6 seven-foto"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="about site">
        <div>
            <img
                src="../../../assets/img/Rectangle_26.jpg"
                alt="Photographer"
            />
        </div>
        <div class="about-text">
            <h2>Про курс -</h2>
            <p>
                Якщо ви теж мрієте, що колись ваші роботи прикрашатимуть
                обкладинки журналів та книжок і виставлятимуться в найкращих
                галереях світу – тоді вам до нас!
            </p>
            <p>
                Незалежно від того, що для Вас фотографія – хобі чи професія, ми
                допоможемо Вам виробити власний стиль та перейти на новий рівень
                майстерності.
            </p>
            <p>
                Курс розроблений як для фотографів-початківців так і для людей,
                які мають досвід зйомки.
            </p>
            <a href="#" class="btn">Детальніше</a>
        </div>
    </section>

    <section class="foto-colage site container-fluid">
        <div class="row">
            <div class="col-4">
                <div>
                    <img src="../../../assets/img/Rectangle_46.jpg" alt="Sea" />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img
                        src="../../../assets/img/Rectangle_47.jpg"
                        alt="Trip"
                    />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img src="../../../assets/img/Rectangle_49.jpg" alt="Cat" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div>
                    <img
                        src="../../../assets/img/Rectangle_45.jpg"
                        alt="Field"
                    />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img
                        src="../../../assets/img/Rectangle_48.jpg"
                        alt="City"
                    />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img
                        src="../../../assets/img/Rectangle_50.jpg"
                        alt="Sparkle"
                    />
                </div>
            </div>
        </div>
    </section>

    <section class="team site">
        <h2>Наша команда</h2>
        <div class="team-foto">
            <div class="slider autoplay">
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_3.png"
                        alt="Марина Коваленко"
                    />
                    <div class="team-name">Марина Коваленко</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51.png"
                        alt="Владислав Міненко"
                    />
                    <div class="team-name">Владислав Міненко</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_2.png"
                        alt="Катерина Семенчук"
                    />
                    <div class="team-name">Катерина Семенчук</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_1.png"
                        alt="Андрій Лаврусенко"
                    />
                    <div class="team-name">Андрій Лаврусенко</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_3.png"
                        alt="Марина Коваленко"
                    />
                    <div class="team-name">Марина Коваленко</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51.png"
                        alt="Владислав Міненко"
                    />
                    <div class="team-name">Владислав Міненко</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_2.png"
                        alt="Катерина Семенчук"
                    />
                    <div class="team-name">Катерина Семенчук</div>
                </div>
                <div>
                    <img
                        src="../../../assets/img/Rectangle_51_1.png"
                        alt="Андрій Лаврусенко"
                    />
                    <div class="team-name">Андрій Лаврусенко</div>
                </div>
            </div>
        </div>
    </section>

    <section class="articles site">
        <h2>Останні статті</h2>
        <div class="article-cont">
            <div class="slider autoplay_2">
                <div class="card">
                    <img
                        src="../../../assets/img/Rectangle_69.jpg"
                        alt="Фототур"
                    />
                    <div class="date"><p>17 травня 2021</p></div>
                    <h5>Фототур: вид туризму чи фотомистецтва?</h5>
                    <p>
                        Фототур – поняття досить сучасне. Звичайно, і раніше,
                        люди подорожуючи, фотографували те, що бачили на власні
                        очі. Таким чином, вони мали змогу поділитися пережитим
                        зі своїми близькими та друзями. Проте...
                    </p>
                </div>
                <div class="card">
                    <img
                        src="../../../assets/img/Rectangle_69_1.jpg"
                        alt="Основи пейзажної зйомки"
                    />
                    <div class="date"><p>5 квітня 2021</p></div>
                    <h5>Основи пейзажної зйомки</h5>
                    <p>
                        Пейзажне фото – справа, яка потребує постійного
                        вдосконалення та набуття нових навичок. Звичайно,
                        осягнути усі тонкощі цього жанру відразу – досить важко,
                        тому ми надалі намагатимемося допомогти Вам
                        розібратися...
                    </p>
                </div>
                <div class="card">
                    <img src="../../../assets/img/Rectangle_69_2.jpg" alt="" />
                    <div class="date"><p>21 лютого 2021</p></div>
                    <h5>Love story.</h5>
                    <p>
                        Поради для успішної організації Кожна пара бажає зловити
                        неймовірні миті закоханості, щирих почуттів та ніжних
                        поглядів. А що допомагає їм зробити це якнайкраще?
                        Звичайно ж, їхні спільні фотографії! Якщо фотографії
                        вдалі, то...
                    </p>
                </div>
                <div class="card">
                    <img
                        src="../../../assets/img/Rectangle_69.jpg"
                        alt="Фототур"
                    />
                    <div class="date"><p>17 травня 2021</p></div>
                    <h5>Фототур: вид туризму чи фотомистецтва?</h5>
                    <p>
                        Фототур – поняття досить сучасне. Звичайно, і раніше,
                        люди подорожуючи, фотографували те, що бачили на власні
                        очі. Таким чином, вони мали змогу поділитися пережитим
                        зі своїми близькими та друзями. Проте...
                    </p>
                </div>
                <div class="card">
                    <img
                        src="../../../assets/img/Rectangle_69_1.jpg"
                        alt="Основи пейзажної зйомки"
                    />
                    <div class="date"><p>5 квітня 2021</p></div>
                    <h5>Основи пейзажної зйомки</h5>
                    <p>
                        Пейзажне фото – справа, яка потребує постійного
                        вдосконалення та набуття нових навичок. Звичайно,
                        осягнути усі тонкощі цього жанру відразу – досить важко,
                        тому ми надалі намагатимемося допомогти Вам
                        розібратися...
                    </p>
                </div>
                <div class="card">
                    <img src="../../../assets/img/Rectangle_69_2.jpg" alt="" />
                    <div class="date"><p>21 лютого 2021</p></div>
                    <h5>Love story.</h5>
                    <p>
                        Поради для успішної організації Кожна пара бажає зловити
                        неймовірні миті закоханості, щирих почуттів та ніжних
                        поглядів. А що допомагає їм зробити це якнайкраще?
                        Звичайно ж, їхні спільні фотографії! Якщо фотографії
                        вдалі, то...
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews site">
        <h2>Відгуки</h2>
        <div class="reviews-cont">
            <div class="slider autoplay_2">
                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_3.png"
                                alt=""
                            />
                            <p>Віталій <br />Воробйов</p>
                        </div>
                        <p>
                            “Нова студія з найкращим у світі <br />професійним
                            обладнанням та великою <br />кількістю залів на
                            будь-який смак! <br />Рекомендую!”
                        </p>
                    </div>
                </div>
                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_1.png"
                                alt=""
                            />
                            <p>Юлія <br />Ралько</p>
                        </div>
                        <p>
                            “Супер атмосфера, позитив, хороший <br />настрій,
                            індивідуальний підхід, відповіді на <br />запитання,
                            об’єктивна оцінка здібностей і <br />цікаві поради
                            від викладачів допомогли <br />подивитись на
                            фотографію по-новому. ”
                        </p>
                    </div>
                </div>
                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_2.png"
                                alt=""
                            />
                            <p>
                                Андрій <br />
                                Смирнов
                            </p>
                        </div>
                        <p>
                            “Дуже класна фотостудія! Тут буде <br />творитися
                            свято щасливих людей, яке увійде в <br />історію за
                            допомогою фотомистецтва!”
                        </p>
                    </div>
                </div>

                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_3.png"
                                alt=""
                            />
                            <p>Віталій <br />Воробйов</p>
                        </div>
                        <p>
                            “Нова студія з найкращим у світі <br />професійним
                            обладнанням та великою <br />кількістю залів на
                            будь-який смак! <br />Рекомендую!”
                        </p>
                    </div>
                </div>
                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_1.png"
                                alt=""
                            />
                            <p>Юлія <br />Ралько</p>
                        </div>
                        <p>
                            “Супер атмосфера, позитив, хороший <br />настрій,
                            індивідуальний підхід, відповіді на <br />запитання,
                            об’єктивна оцінка здібностей і <br />цікаві поради
                            від викладачів допомогли <br />подивитись на
                            фотографію по-новому. ”
                        </p>
                    </div>
                </div>
                <div>
                    <div class="reviews-card">
                        <div class="reviews-foto">
                            <img
                                src="../../../assets/img/Ellipse_2.png"
                                alt=""
                            />
                            <p>
                                Андрій <br />
                                Смирнов
                            </p>
                        </div>
                        <p>
                            “Дуже класна фотостудія! Тут буде <br />творитися
                            свято щасливих людей, яке увійде в <br />історію за
                            допомогою фотомистецтва!”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
